<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @requirement.name %>
</p>

<p>
  <b>Description:</b>
  <%= @requirement.description %>
</p>

<p>
  <b>Goal:</b>
  <%= @requirement.goal %>
</p>

<p>
  <b>Completed:</b>
  <%= @requirement.completed %>
</p>

<p>
  <b>Completed date:</b>
  <%= @requirement.completed_date %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
