<table id="meritbadge_list">
	<thead>
  <tr>
	<td>Image</td>
    <th>Name</th>
    <th>Required?</th>
	<th>Enroll in Meritbadge?</th>
  </tr>
	<thead>
	<tbody>	
<% meritbadge_list.each do |meritbadge| %>
  <%- unless meritbadge.removed_date.nil? %>
  <tr class="obsoleted">
  <%- else %>
  <tr>
  <%- end -%>
	<td><%= image_tag(meritbadge.image_url, :size => "75x75") unless meritbadge.nil? || meritbadge.image_url.nil? || meritbadge.removed_date %></td>
    <td><%= link_to meritbadge.name, meritbadge %></td>
	<td><%= meritbadge.required ? "Required" : "" %></td>
	<%- if status && !status.blank? && status.detect {|s| s.scouter_id == scouter.id && s.meritbadge_id == meritbadge.id && s.completed_date == nil} -%>
		<td><button disabled="disabled">Enrolled!</button></td>
	<%- elsif !status.blank? && status.detect {|s| s.scouter_id == scouter.id && s.meritbadge_id == meritbadge.id && s.completed_date != nil} -%>
		<td><button disabled="disabled">Completed</button></td>	
	<%- elsif meritbadge.removed_date -%>
		<td><button disabled="disabled">Obsolete</button></td>
	<%- else -%>
	<td><div id="enroll_button_<%= "#{scouter.id}_#{meritbadge.id}" %>"><%= button_to "Enroll", {:controller => "scouters", 
								 :action => "enroll", 
								 :meritbadge_id => meritbadge.id,
								 :scouter_id => scouter.id }, :remote => true %></div></td>
	<%- end -%>							
  </tr>
<% end %>
</tbody>
</table>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#meritbadge_list').dataTable({
				"sPaginationType": "full_numbers",
				"bJQueryUI": true,
				"aaSorting": [[ 1, "asc" ]]
		});
	});
</script>