<h1>Listing scout_masters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Troop number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scout_masters.each do |scout_master| %>
  <tr>
    <td><%= scout_master.name %></td>
    <td><%= scout_master.troop_number %></td>
    <td><%= link_to 'Show', scout_master %></td>
    <td><%= link_to 'Edit', edit_scout_master_path(scout_master) %></td>
    <td><%= link_to 'Destroy', scout_master, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scout master', new_scout_master_path %>
