<%= form_for :scouter_meritbadge, :url => "req_update" do |f| %>
  <% if @requirements.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirements.errors.count, "error") %> prohibited this meritbadge from being saved:</h2>

      <ul>
      <% @requirements.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
	<table>
		<thead>
			<th>Designator</th>
			<th>Description</th>
			<th>Goal</th>
			<th>Completed Date</th>
		</thead>
		<tbody>
				<% unless @requirements.nil? %>
				<% @requirements.requirements.each_with_index do |req, index| %>
				<% unless req.nil? %>
				<tr>
				<td><%= text_field :designation, req["designation"], :disabled => true, :value => req["designation"] %></td>
				<td><%= text_area :description, req["designation"], :size => "30x5", :value => req["description"] %></td>
				<td><%= text_area :goal, req["designation"], :size => "30x5", :value => req["goal"] %></td>
				<td><%= text_field :completed_date, req["designation"], :value => req["completed_date"] %></td>
				</tr>
				<% end %>
				<% end %>
				<% end %>
		</tbody>
	</table>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
