<p id="notice"><%= notice %></p>
<%- if @meritbadge.requirements_text.nil? -%>
<h1>Name: <%= @meritbadge.name  %></h1>
<%- end -%>

<%=h @meritbadge.requirements_text.html_safe unless @meritbadge.requirements_text.nil? %>
<%- unless @meritbadge.requirements_path.nil? %>
<span id="credit">Original Requirements taken from <%= link_to 'scouting.org', @meritbadge.requirements_path %> </span>
<%- end -%>
<br />
	
<%= link_to 'Edit', edit_meritbadge_path(@meritbadge) %> |
<%= link_to 'Back', meritbadges_path %>
